@model List<Category>;
@{
    ViewData["Title"] = "New Create Page";
    var categories = Model;
}
 
<form action="/New/Save" method="post">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title">
    </div>
    <div class="form-group">
        <label for="Slug">Slug</label>
        <input type="text" class="form-control" id="Slug" name="Slug">
    </div>
    <div class="form-group">
        <label for="Summary">Summary</label>
        <input type="text" class="form-control" id="Summary" name="Summary">
    </div><div class="form-group">
        <label for="Content">Content</label>
        <input type="text" class="form-control" id="Content" name="Content">
    </div>
    <div class="form-group">
        <label for="Avatar">Avatar</label>
        <input type="text" class="form-control" id="Avatar" name="Avatar">
    </div>
    <div class="form-group">
        <label for="CategoryId">Category</label>
        <select class="form-control" id="CategoryId" name="CategoryId">
            @foreach (var category in categories)
            {
                <option value="@category.Id">
                    @category.Name
                </option>
            }
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
